<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
  <!-- logging 檔案輸出位置 -->
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- logging format -->
      <!-- 按照順序分別:時間、logging 級別、執行緒、所執行java類別、logging 內容、換行 -->
      <pattern>[%d{HH:mm:ss.SSS}] [%-5level] [%thread]
        [%logger]
        [%msg]%n</pattern>
    </encoder>
  </appender>
  <!-- 設定根 logging 級別,logging 級別分別為:DEBUG、INFO、WARN、ERROR -->
  <!-- 指定任何 logging 級別只顯示當前級別和之後級別訊息 -->
  <root level="DEBUG">
    <!-- 顯示當前 logging appender,這裡透過 "STDOUT" 引用前一個logging appender -->
    <appender-ref ref="STDOUT" />
  </root>
  <!-- 跟具特殊需求設定級別 -->
  <logger name="study.mybatis.mappers" level="DEBUG" />
</configuration>
