<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 屬性檔案 -->
  <properties resource="jdbc.properties" />

  <!-- 全域設定 -->
  <settings>
    <!-- 將底線自動轉換為駝峰命名 emp_name:empName -->
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <!-- 懶加載 -->
    <!-- lazyLoadingEnabled: 指讀取指定物件資料表(不讀取關聯欄位內容)
    aggrtessiveLazyLoading: 讀取指定物件資料表和關聯欄位所有內容, 預設 false (true in ≤3.4.1)
    ** 開啟 lazyLoadingEnabled 時,aggrtessiveLazyLoading必須為 false, 否則將會無效 ** -->
    <setting name="lazyLoadingEnabled" value="true" />
  </settings>

  <!-- 別名 -->
  <typeAliases>
    <package name="study.mybatis.pojo" />
  </typeAliases>

  <!-- 資料來源配置 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
      </dataSource>
    </environment>
  </environments>

  <!-- 對應 xml 檔註冊 -->
  <mappers>
    <package name="study.mybatis.mappers" />
  </mappers>
</configuration>
